/*normalize start*/
html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

b,
strong {
    font-weight: bolder;
}

small {
    font-size: 80%;
}

button,
input,
optgroup,
select,
textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

button,
input {
    overflow: visible;
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    outline-offset: -2px; /* 2 */
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

summary {
    display: list-item;
}
/*normalize end*/
/*common styles start*/
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    background-color: #ccc;
}

figure {
    margin: 0;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: #000;
}

[role] {
    text-decoration: underline;
    color: #4d4dff;
}

.wrapper {
    width: 1024px;
    margin: auto;
}
/*common styles end*/
/*header start*/
.page-header_wrapper {
    display: flex;
    justify-content: space-between;
}

.page-header,
.page-footer {
    height: 100px;
    box-sizing: border-box;
    background-color: #4d9dff;
    color: #cc8;
}

.page-header {
    padding-top: 25px;
}

.page-header_btn {
    background-color: #ccc;
}

.page-header_selection {
    width: 215px;
}
/*header end*/
/*main start*/
#output {
    display: flex;
    flex-flow: row wrap;
}

#output article {
    width: 252px;
    margin: 2px;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    word-wrap: break-word;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.5s;
}

#output article:hover {
    transform: scale(1.015);
    background-color: rgba(255, 255, 255, 0.6);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(77,157,255,0.8);
    -moz-box-shadow: 0px 0px 10px 0px rgba(77,157,255,0.8);
    box-shadow: 0px 0px 10px 0px rgba(77,157,255,0.8);
    z-index: 10;
    transition: 0.5s;
}

#output article footer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

#output article div {
    display: flex;
    flex-flow: column;
}

p {
    margin-bottom: 5px;
}

time {
    width: 110px;
}
/*main end*/
/*footer start*/
.page-footer {
    padding-top: 45px;
}
/*footer end*/
/*small width start*/
@media (max-width: 480px) {
    body {
        font-size: 26px;
    }

    .page-header {
        height: auto;
    }

    .page-header_btn,
    .page-header_selection {
        font-size: 35px;
        line-height: 1.5;
    }

    .page-header_selection {
        width: 100%;
    }

    .wrapper {
        width: 100%;
    }

    .page-header_wrapper {
        flex-flow: column;
    }

    #output article {
        width: 100%;
        margin: 0;
    }

    #output article img {
        width: 100%;
    }
}
/*small width end*/