html
    head
        style
            include styles.css
        title= title
    body
    h1= 'News'
- var values = news;
- var links = urls;
div(class="news-list")
    each val in links
        a(href='/news/'+ val)= values[val - 1]
    else
        li There are no values