html
    head
        style
            include styles.css
        title= title
    body
        div(class="container")
            h1(class="headline")= message
            div(class="description")= description
            a(class="link" href='/news') News