html
    head
        style
            include styles.css
        title= title
    body
        div(class="container")
            h1(class="headline")= header

            div(class="date")= date

            p= text
