html
    head
        style
            include styles.css
        title= title
    body
        a(class="back-link" href='/news') Back

        h1(class="app-header")= header

        div(class="news-date")= date

        p= text
